.form{
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label{
    display:block;
    margin-bottom: 5px;
}

.input,
.button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #1c5f3a;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #124127;
}