@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-w: 230px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  margin-left: var(--sidebar-w);  /* create space for fixed sidebar */
  padding: 16px;
  background: var(--background);
  color: black;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
