.container {
    height: 100vh;
    position: relative;
}

.sidebar {
    position: fixed;
    width: 19rem;
    top:0;
    left: -5rem;
    height: 100vh;
    background-color: blueviolet;
    color: black;
    transition: width 0.7s ease-in-out, left 0.7s ease-in-out;
}


.nav{
    margin-left: 5rem;
}


.nav {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
}