.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.label{
    display:block;
    margin-bottom: 5px;
}

.input {
  flex: 1 1 45%;
}

.field {
  width: 45%; 
  min-width: 350px; 
  display: flex;
  flex-direction: column;
}


.input {
  flex: 1 1 calc(50% - 20px);
  padding: 8px;
}

.button {
  flex: 1 1 30%;
}

.input,
.button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.buttonContainer {
  width: 20%;
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
}
.button {
  background-color: #1c5f3a;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #124127;
}